.remove-button {
    color: red;
}

.hidden {
    display: none;
}

#currentBlockedWordsTable {
    border-collapse: collapse;
    width: 100%;
}

#currentBlockedWordsTable td, #currentBlockedWordsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#currentBlockedWordsTable td:last-of-type {
    border: none;
    width: 20px;
}

#currentBlockedWordsTable tr:hover {
    background-color: #073d1e;
}

#currentBlockedWordsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1.0);
    z-index: 2;
    cursor: pointer;
}

.overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#EH_settings {
    margin-top: 10px;
}

#yourUserId {
    margin-left: 10px;
}

#yourUserId:focus {
    outline: none;
    border-color: rgb(29, 155, 240);
    box-shadow: 0 0 10px rgb(29, 155, 240);
}
