.Modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.FSmodalContent {
    position: relative;
    background-color: #141414;
    color: #ffffff !important;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.blackButton {
    background-color: #141414;
    color: white;
    border: 2px solid #555555;
}

.blackButton:hover {
    background-color: #555555;
    color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.FSclose {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.FSclose:hover,
.FSclose:focus {
    color: #8f412c6e;
    text-decoration: none;
    cursor: pointer;
}

.FSmodalHeader {
    padding: 0.5rem;
}

.FSModalBody {
    padding: 1rem;
}

.FSModalFooter {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border-top: 1px solid #333232;

}

.FSmodalTitle {
    margin-left: 1rem;
}

.awesomplete > ul {
    color: #ff0000;
}
